<!DOCTYPE html>
<html lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Page Title - SB Admin</title>
        <link href="static/styles/bootstrap/dist/css/styles.css" rel="stylesheet" />
        <link href="static/css/bootstrap-datepicker.css" rel="stylesheet" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js}"></script>
        <link href="static/styles/bootstrap/dist/css/styles.css" rel="stylesheet" />
    </head>
    <body class="bg-primary" id="joinBody">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form method="post" th:action="@{/join}">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="name">Name</label>
                                                        <input class="form-control py-4" name="name" id="name" type="text" placeholder="Enter name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="">Birthday</label>
                                                        <input class="form-control py-4" name="birthDate" id="birthDate" type="text" placeholder="Click Birthday" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" name="email" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" />
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-radio custom-control-inline">
																				          <input type="radio" class="custom-control-input" id="sex-1" name="sex" value="1" checked>
																				          <label class="custom-control-label" for="sex-1">male</label>
																				        </div>
																				        <div class="custom-control custom-radio custom-control-inline">
																				          <input type="radio" class="custom-control-input" id="sex-2" name="sex" value="2">
																				          <label class="custom-control-label" for="sex-2">female</label>
																				        </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputPassword">Password</label>
                                                        <input class="form-control py-4" name="password" id="inputPassword" type="password" placeholder="Enter password" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                                                        <input class="form-control py-4" name="confirmPassword" id="inputConfirmPassword" type="password" placeholder="Confirm password" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0"><button class="btn btn-primary btn-block">Create Account</button></div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/login">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/static/js/notify.min.js}"></script>
        <script src="static/js/bootstrap-datepicker.js"></script>
        <script>

          $.fn.serializeObject = function() {
            var obj = null;
            try {
              if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                var arr = this.serializeArray();
                if (arr) {
                  obj = {};
                  jQuery.each(arr, function() {
                    obj[this.name] = this.value;
                  });
                }
              }
            } catch (e) {
              alert(e.message);
            } finally {
            }
            return obj;
          };

					$(function() {

					  $("form").on("submit", function(e) {
					    e.preventDefault();
					    var $form = $(this).closest("form");
					    var formData = $form.serializeObject();

					    $("#joinBody div:eq(0)").append('<div id="d-spin" class="spinner-border">');
					    $.ajax({
					      type : $form.attr("method"),
					      dataType : 'json',
					      contentType : "application/json",
					      data : JSON.stringify(formData),
					      url : $form.attr("action"),
					      beforeSend : function(xhr){
					        xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
					      },
					      success : function(res) {
					        $("#d-spin").remove();
					        if (res.duplicate) {
					          $.notify("중복된 이메일 입니다.");
					          $("input[name='email']").val("");
					          $("input[name='email']").focus();
					        } else if (res.passwordFail) {
					        	$.notify("패스워드가 동일하지 않습니다.");
					        	$("input[name='password']").val("");
					        	$("input[name='confirmPassword']").val("");
					        	$("input[name='password']").focus();
					        } else if (res.success) {
					          $.notify("회원 가입 완료되었습니다.");
					          setTimeout(function() {window.location = document.referrer}, 800);
					        } else {
					          $("#d-spin").hide();
					          $.notify("crud fail");
					        }
					      },
					      error : function(error) {
					        alert(error.errorMsg);
					      }
					    });

					  });

					  $("#btn_loginForm").on("click", function() {
					    location.href = document.referrer;
					  });

					  $("#birthDate").datepicker({
						    format: "yyyy/mm/dd",
						    changeYear : true,
						    changeMonth: true
						    //onClose    : function( selectedDate ) {
					      //  $("#dateTo").datepicker("option", "minDate", selectedDate );
					      //}
						});

					  //$.datepicker.setDefaults($.datepicker.regional["ja"]);
					  //$("#birthday").datepicker({
					    //changeYear : true,
					    //changeMonth: true,
					    //onClose    : function( selectedDate ) {
					    //  $("#dateTo").datepicker("option", "minDate", selectedDate );
					    //}
					  //});

					});
				</script>
    </body>
</html>
