@charset "utf-8";

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: #f0f0f0;
  margin: 0;
  font-size: 11px;
  line-height: 1.2;
  min-width: 960px;
}

img, iframe {
  vertical-align: middle;
}

a img {
  border: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

input {
  padding: 1px 6px;
}

.opacityBtn:hover {
  opacity: 0.75;
}

.headNavigationWrapper {
  background: url(../images/bg_global_heading_dark.png) repeat-x;
  height: 40px;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.headNavigationWrapper .categoryHeading {
  height: 100%;
  float: left;
  padding-left: 16px;
}
.headNavigationWrapper .categoryHeading .categoryHeadingTitle {
  background: no-repeat 0 center;
  font-size: 133.333%;
  line-height: 40px;
  padding-left: 48px;
}
.headNavigationWrapper .categoryHeading .categoryHeadingTitle.master {
  background-image: url(../images/icon_category_master.png);
}
.headNavigationWrapper .globalInformation {
  height: 100%;
  float: right;
  padding: 0 16px 0 210px;
}
.headNavigationWrapper .globalInformation .username {
  float: left;
  width: 140px;
  height: 100%;
  font-size: 116.667%;
  line-height: 40px;
}
.headNavigationWrapper .globalInformation .headingButton {
  float: left;
  width: 200px;
  height: 100%;
  line-height: 40px;
}
.headNavigationWrapper .globalInformation .headingIcons {
  float: left;
  height: 100%;
}
.headNavigationWrapper .globalInformation .headingIcons .icon {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
  margin: 8px 0 8px 24px;
}
.headNavigationWrapper .globalInformation .headingIcons .icon:first-child {
  margin-left: 0;
}
.headNavigationWrapper .globalInformation .headingIcons .icon .headingBalloonMenu {
  position: absolute;
  top: 19px;
  right: -8px;
  margin-top: 8px;
  float: right;
  width: 224px;
  opacity: 0;
  display: none;
  z-index: 10;
  box-shadow: 2px 3.464px 16px rgba(0, 0, 0, 0.5);
}
.headNavigationWrapper .globalInformation .headingIcons .icon .headingBalloonMenu .balloon {
  position: absolute;
  top: -8px;
  right: 12px;
}
.headNavigationWrapper .globalInformation .headingIcons .icon .headingBalloonMenu ul {
  background-color: #fff;
  border: 1px solid #7a7acc;
  border-radius: 4px;
  padding: 7px 3px;
  list-style: none;
}
.headNavigationWrapper .globalInformation .headingIcons .icon .headingBalloonMenu ul li a {
  display: block;
  border-top: 1px solid #fff;
  background-color: #fff;
  padding: 2px 12px 3px;
  color: #000;
  text-decoration: none;
}
.headNavigationWrapper .globalInformation .headingIcons .icon .headingBalloonMenu ul li a:hover {
  border-top-color: #424284;
  background-color: #6666cc;
  color: #fff;
}

.container {
  padding-top: 1px;
  margin-top: -1px;
  position: relative;
}
.container .sideMenu {
  position: absolute;
  top: 0;
  width: 56px;
  float: left;
}
.container .sideMenu .openMenuBtn {
  cursor: pointer;
  margin: 12px 16px 7px;
}
.container .sideMenu .accordionMenuWrapper {
  opacity: 0;
  display: none;
  position: relative;
  padding-top: 5px;
}
.container .sideMenu .accordionMenuWrapper .balloon {
  position: absolute;
  top: 0;
  left: 22px;
}
.container .sideMenu .accordionMenuWrapper .accordionMenus {
  width: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 8px;
  padding: 7px 7px 14px;
  box-shadow: 1.5px 2.598px 3px 0 rgba(0, 0, 0, 0.5) inset;
}
.container .menuHeading {
  background: url(../images/icon_menu.png) -2px center no-repeat;
  margin: 16px 0 0 14px;
  padding-left: 31px;
  font-weight: bold;
  font-size: 116.667%;
  line-height: 24px;
}
.container .accordionMenus {
  overflow: hidden;
  width: 300px;
  margin: 0 16px;
}
.container .accordionMenus .accordion-group {
  border: 1px solid #fff;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  margin-top: 16px;
}
.container .accordionMenus .accordion-group .accordion-heading {
  font-size: 116.667%;
  border-radius: 5px 5px 0 0;
  background-color: #220066;
}
.container .accordionMenus .accordion-group .accordion-heading a {
  background: no-repeat 13px 4px;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 3px 16px 3px 18px;
}
.container .accordionMenus .accordion-group:first-child {
  margin-top: 0;
}
.container .accordionMenus .accordion-group.menu1 .accordion-heading {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #220066), color-stop(100%, #59408c));
  background-image: -webkit-linear-gradient(left, #220066, #59408c);
  background-image: -moz-linear-gradient(left, #220066, #59408c);
  background-image: -o-linear-gradient(left, #220066, #59408c);
  background-image: linear-gradient(left, #220066, #59408c);
}
.container .accordionMenus .accordion-group.menu1 .accordion-heading a {
  /*メニューアイコンは不要なためコメントアウト
  background-image: url(../images/icon_menu1.png);
  */
}
.container .accordionMenus .accordion-group.menu2 .accordion-heading {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000066), color-stop(100%, #40408c));
  background-image: -webkit-linear-gradient(left, #000066, #40408c);
  background-image: -moz-linear-gradient(left, #000066, #40408c);
  background-image: -o-linear-gradient(left, #000066, #40408c);
  background-image: linear-gradient(left, #000066, #40408c);
}
.container .accordionMenus .accordion-group.menu2 .accordion-heading a {
 /*メニューアイコンは不要なためコメントアウト
 background-image: url(../images/icon_menu2.png);
 */
}
.container .accordionMenus .accordion-group.menu3 .accordion-heading {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #004c66), color-stop(100%, #40798c));
  background-image: -webkit-linear-gradient(left, #004c66, #40798c);
  background-image: -moz-linear-gradient(left, #004c66, #40798c);
  background-image: -o-linear-gradient(left, #004c66, #40798c);
  background-image: linear-gradient(left, #004c66, #40798c);
}
.container .accordionMenus .accordion-group.menu3 .accordion-heading a {
  /*メニューアイコンは不要なためコメントアウト
  background-image: url(../images/icon_menu3.png);
  */
}
.container .accordionMenus .accordion-group .menuItems li {
  border: 1px solid #c0c0c0;
  border-top: none;
  border-bottom-color: #909090;
}
.container .accordionMenus .accordion-group .menuItems li a {
  color: #000;
  background: url(../images/icon_arrow_01.png) no-repeat 16px center;
  display: block;
  padding: 6px 16px 6px 39px;
  text-decoration: none;
}
.container .main-content {
  margin-left: 56px;
  min-width: 888px;
  margin-right: 16px;
  margin: 0 16px 128px 56px;
}
.container .main-content .breadcrumb {
  zoom: 1;
  margin: 10px 0;
  padding-left: 2px;
}
.container .main-content .breadcrumb:after {
  content: "";
  display: block;
  clear: both;
}
.container .main-content .breadcrumb li {
  list-style: none;
  float: left;
  margin-left: -2px;
}
.container .main-content .breadcrumb li .back {
  display: block;
  padding-left: 14px;
  background: no-repeat 0 0;
}
.container .main-content .breadcrumb li .front {
  display: block;
  padding-right: 16px;
  background: no-repeat 100% 0;
}
.container .main-content .breadcrumb li .center {
  display: block;
  height: 28px;
  background: repeat 0 0;
  line-height: 28px;
  padding: 0 10px 0 12px;
}
.container .main-content .breadcrumb li a {
  color: #000;
  text-decoration: none;
}
.container .main-content .breadcrumb li.current, .container .main-content .breadcrumb li.current a {
  color: #fff;
}
.container .main-content .breadcrumb li.before .back {
  background-image: url(../images/flow_before_back.png);
}
.container .main-content .breadcrumb li.before .front {
  background-image: url(../images/flow_before_front.png);
}
.container .main-content .breadcrumb li.before .center {
  background-image: url(../images/flow_before_center.png);
}
.container .main-content .breadcrumb li.current .back {
  background-image: url(../images/flow_current_back.png);
}
.container .main-content .breadcrumb li.current .front {
  background-image: url(../images/flow_current_front.png);
}
.container .main-content .breadcrumb li.current .center {
  background-image: url(../images/flow_current_center.png);
}
.container .main-content .breadcrumb li.after .back {
  background-image: url(../images/flow_after_back.png);
}
.container .main-content .breadcrumb li.after .front {
  background-image: url(../images/flow_after_front.png);
}
.container .main-content .breadcrumb li.after .center {
  background-image: url(../images/flow_after_center.png);
}
.container .main-content .accordionMenus {
  width: auto;
  margin-left: 0;
}
.container .main-content .accordionMenus .accordion-group {
  float: left;
  width: 287px;
  margin: 16px 0 16px 16px;
}

.index .container .sideMenu {
  position: relative;
  float: none;
}
.index .container .main-content {
  margin: 8px auto 128px;
}

.content-box {
  position: relative;
  margin: 0 0 16px;
}

.menuBox {
  background-color: #fff;
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
}

.fileBox {
  height: 150px;
  text-align: center;
  line-height: 150px;
}
.fileBox img {
  vertical-align: middle;
}

.movieBox,
.photoBox {
  width: 268px;
  margin: 16px auto;
}

.box-col-1 {
  width: 300px;
  margin: 7px;
}

.box-col-2 {
  width: 616px;
  margin: 7px;
}

.box-col-3 {
  width: 932px;
  margin: 7px;
}

.box01A {
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #c0c0c0;
  background-color: #fff;
  border-radius: 7px 7px 0 0;
}

.box-heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border-bottom: 1px solid #c0c0c0;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
}

.whiteBox01A {
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 8px;
  padding: 1px 8px;
  margin-bottom: 32px;
  border: 1px solid #c0c0c0;
}

.shadowBox01A {
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
}

.searchResultBox {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#searchResult {
  position: relative;
}

.loadingWrapper {
  opacity: 0;
  display: none;
  position: absolute;
  top: 162px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.searchDetailBox {
  position: relative;
  opacity: 0;
  z-index: 0;
}

.boxSection01A {
  margin: 8px 0;
}

.boxSection01B {
  margin: 16px 0;
}

.btnBothEnd {
  zoom: 1;
}
.btnBothEnd:after {
  content: "";
  display: block;
  clear: both;
}
.btnBothEnd .left {
  float: left;
}
.btnBothEnd .right {
  float: right;
}

.table01A table {
  border-collapse: collapse;
  width: 100%;
}
.table01A caption {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #404040), color-stop(100%, #707070));
  background-image: -webkit-linear-gradient(left, #404040, #707070);
  background-image: -moz-linear-gradient(left, #404040, #707070);
  background-image: -o-linear-gradient(left, #404040, #707070);
  background-image: linear-gradient(left, #404040, #707070);
  background-color: #404040;
  border-radius: 6px 6px 0 0;
  text-align: left;
  color: #fff;
  padding: 0 16px;
  font-weight: normal;
}
.table01A caption .caption {
  float: left;
  font-size: 116.667%;
  padding: 2px 0;
}
.table01A caption .note {
  float: right;
  font-size: 91.667%;
  padding: 5px 0 4px;
}
.table01A th, .table01A td {
  border: 1px solid #c0c0c0;
}
.table01A th {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: right;
  padding: 5px 16px;
  width: 25%;
}
.table01A td {
  background-color: #fff;
  padding: 2px 8px;
}

.table02A .heading,
.table02B .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
}
.table02A table,
.table02B table {
  border-collapse: collapse;
  width: 100%;
}
.table02A th, .table02A td,
.table02B th,
.table02B td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}
.table02A th,
.table02B th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 25%;
}
.table02A td,
.table02B td {
  background-color: #fff;
  padding: 6px 8px;
}

.table02B th,
.table02B td {
  text-align: left;
  padding: 6px 16px;
}

.pagination {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-top: 0;
  padding: 8px 16px;
}
.pagination ul {
  list-style: none;
  zoom: 1;
}
.pagination ul:after {
  content: "";
  display: block;
  clear: both;
}
.pagination ul li {
  float: left;
  border-left: 1px solid #c0c0c0;
  padding: 0 8px;
  line-height: 1.2;
}
.pagination ul li:first-child {
  border-left: none;
  padding-left: 0;
}


/*

.inputText01 {
  width: 120px;
}

.inputText02 {
  width: 390px;
}

*/


.btn {
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  border-radius: 0.25em;
  box-shadow: 0 0.083em 0.25em 0 rgba(255, 255, 255, 0.5) inset, 0 -0.083em 0.25em 0 rgba(0, 0, 0, 0.25) inset;
  padding: 0.167em 0.5em;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0.167em 0.3em 0 rgba(0, 0, 0, 0.25) inset, 0 -0.083em 0.25em 0 rgba(255, 255, 255, 0.5) inset;
}

.btn-primary {
  background-color: #2d2d81;
  border-color: #141466;
  color: #fff;
}

.btn-large {
  border-radius: 4px;
  padding: 0.3em 2.5em;
  font-size: 14px;
  margin: 0 8px;
}

.btn-disabled {
  background-color: #c2c2c2;
  border-color: #b8b8b8;
  border-top-color: #999;
  color: #fff;
  box-shadow: 0 0.083em 0 0 rgba(0, 0, 0, 0.1) inset, 0 -0.083em 0 0 rgba(255, 255, 255, 0.25) inset;
  cursor: default;
}
.btn-disabled:hover {
  box-shadow: 0 0.083em 0 0 rgba(0, 0, 0, 0.1) inset, 0 -0.083em 0 0 rgba(255, 255, 255, 0.25) inset;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid white;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: white;
  background-color: #2a2a79;
  background-image: -moz-linear-gradient(top, #2d2d81, #26266e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d2d81), to(#26266e));
  background-image: -webkit-linear-gradient(top, #2d2d81, #26266e);
  background-image: -o-linear-gradient(top, #2d2d81, #26266e);
  background-image: linear-gradient(to bottom, #2d2d81, #26266e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2D2D81', endColorstr='#FF26266E', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background-color: #2a2a79;
  background-image: -moz-linear-gradient(top, #2d2d81, #26266e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d2d81), to(#26266e));
  background-image: -webkit-linear-gradient(top, #2d2d81, #26266e);
  background-image: -o-linear-gradient(top, #2d2d81, #26266e);
  background-image: linear-gradient(to bottom, #2d2d81, #26266e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2D2D81', endColorstr='#FF26266E', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: default;
}

.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid black;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: white;
}

.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}

.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black;
}
.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.4;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  *zoom: 1;
}
.modal-footer:before, .modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-header h3 {
  font-size: 175%;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


/* 受注情報：詳細(出張) */
.customDetailBox {
  position: relative;
  opacity: 0;
  z-index: 1;
}
/* 受注情報：詳細(オプション品) */
.optionDetailBox {
  position: relative;
  opacity: 0;
  z-index: 2;
}
/* 受注情報：部品入力 */
.buhinInputBox {
  position: relative;
  opacity: 0;
  z-index: 2;
}

/* 発注データ入力 検索結果一覧ウインドウ */
.hatDataSearchResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}

/* 名称用 */
.inputText03 {
  width: 200px;
}

/* タブ START */
#tabnavi li{
  display:inline;
}
#tabnavi li a{
  display:inline-block;
  background:#405dca;
  color:#fff;
  padding:5px;
  border-radius:5px 5px 0 0;
  text-decoration:none;
}
#tabnavi li a:hover,
#tabnavi li a.active{
  background:#ddd;
  color:#333;
}
#tabcontent{
  padding:5px;
  border:1px dotted #ccc;
}
/* タブ E N D */

/** 出庫取消 **/
.stkSearchResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}

/** 出庫指示書発行 **/
.sshTsujouResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}

.sshSaihatsuResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}

/** 出庫完了登録 **/
.sktSearchResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}



/** 充足状況検索 **/
.jjsSearchResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}

.jjsSeihinResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}

.jjsVendorResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}

.table01CH .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
}
.table01CH table {
  border-collapse: collapse;
  width: 100%;
}
.table01CH th, .table01CH td {
  border: 1px solid #c0c0c0;
  padding: 2px 8px;
}
.table01CH th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 5%;
}
.table01CH td {
  background-color: #fff;
  padding: 6px 8px;
}

/* 検索結果一覧ウインドウ(初期は隠し項目) */
.secSearchResultBox {
  opacity: 0;
  position: relative;
  z-index: 1;
}

/* 編集ウインドウ(初期は隠し項目) */
.secSearchDetailBox {
  position: relative;
  opacity: 0;
  z-index: 0;
}

/* #### input text #### */
/* #### base #### */
.textIn {
  background-color :#FFFFCC;
}
.textInReq {
  background-color :#FFFF88;
}
.textInNot {
  background-color :#CCCCCC;
}
.inputText1001 {
  width: 100px;
}
.inputText1201 {
  width: 200px;
}

/* #### common #### */
.textDate {
  width: 90px;
}
.textNum {
  width: 60px;
  text-align: right;
}
.textUnitPrice {
  width: 80px;
  text-align: right;
}
.textAmount {
  width: 80px;
  text-align: right;
}
.textZipcd {
  width: 80px;
}
.textAddress {
  width: 380px;
}
.textTel {
  width: 120px;
}
.textFax {
  width: 120px;
}
.textMail {
  width: 280px;
}
.textBusyoOther {
  width: 200px;
}
.textTanOther {
  width: 200px;
}

/* #### particular item #### */
.textHincd {
  width: 100px;
}
.textHinmei {
  width: 200px;
}
.textKata {
  width: 250px;
}
.textTancd {
  width: 100px;
}
.textTanmei {
  width: 140px;
}
.textPassword {
  width: 200px;
}
/* #### textarea #### */
textarea {
    resize: none;
}
/* #### base #### */
.txareaIn {
  background-color :#FFFFCC;
}
.txareaInReq {
  background-color :#FFFF88;
}
.txareaInNot {
  background-color :#CCCCCC;
}

/* #### select #### */
/* #### base #### */
.selIn {
  background-color :#FFFFCC;
}
.selInReq {
  background-color :#FFFF88;
}
.selInNot {
  background-color :#CCCCCC;
}

/* #### checkbox #### */
/* #### base #### */
.chkIn {
  background-color :#FFFFCC;
}
.chkInReq {
  background-color :#FFFF88;
}
.chkInNot {
  background-color :#CCCCCC;
}

/* #### radio #### */
/* #### base #### */
.rdoIn {
  background-color :#FFFFCC;
}
.rdoInReq {
  background-color :#FFFF88;
}
.rdoInNot {
  background-color :#CCCCCC;
}

.textKokcd {
  width: 100px;
}

.textKokmei {
  width: 140px;
}

.textVendorcd {
  width: 100px;
}

.textVendormei {
  width: 140px;
}

.textProductno {
  width: 80px;
}

/* #### ime-mode #### */
.imeAuto {
  ime-mode: auto;
}
.imeActive {
  ime-mode: active;
}
.imeInActive {
  ime-mode: inactive;
}
.imeDisabled {
  ime-mode: disabled;
}
/* #### table #### */
/* #### search #### */
.tableSrch table {
  border-collapse: collapse;
  width: 100%;
}
.tableSrch caption {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #404040), color-stop(100%, #707070));
  background-image: -webkit-linear-gradient(left, #404040, #707070);
  background-image: -moz-linear-gradient(left, #404040, #707070);
  background-image: -o-linear-gradient(left, #404040, #707070);
  background-image: linear-gradient(left, #404040, #707070);
  background-color: #404040;
  border-radius: 6px 6px 0 0;
  text-align: left;
  color: #fff;
  padding: 0 16px;
  font-weight: normal;
}
.tableSrch caption .caption {
  float: left;
  font-size: 116.667%;
  padding: 2px 0;
}
.tableSrch caption .note {
  float: right;
  font-size: 91.667%;
  padding: 5px 0 4px;
}
.tableSrch th, .tableSrch td {
  border: 1px solid #c0c0c0;
}
.tableSrch th {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: right;
  padding: 5px 16px;
}
.tableSrch td {
  background-color: #fff;
  padding: 2px 8px;
}

.table0001 .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
}
.table0001 table {
  border-collapse: collapse;
  width: 100%;
}
.table0001 th,
.table0001 td {
  border: 1px solid #c0c0c0;
  text-align: left;
  padding: 6px 16px;
}
.table0001 th {
  background-color: #e5f2ff;
  font-weight: normal;
//  width: 25%;
}
.table0001 td {
  background-color: #fff;
}

/* #### list #### */
.tableList .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
}
.tableList table {
  border-collapse: collapse;
  width: 100%;
}
.tableList th, .tableList td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}
.tableList th {
  background-color: #e5f2ff;
  font-weight: normal;
}
.tableList td {
  background-color: #fff;
  padding: 6px 8px;
}

/* #### edit #### */
.tableEdit .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
}
.tableEdit table {
  border-collapse: collapse;
  width: 100%;
}
.tableEdit th,
.tableEdit td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}
.tableEdit th {
  background-color: #e5f2ff;
  font-weight: normal;
}
.tableEdit td {
  background-color: #fff;
  padding: 6px 8px;
}
.tableEdit th,
.tableEdit td {
  text-align: left;
  padding: 6px 16px;
}

.trEven td {
  background-color: #e6e6fa;
}


/* ### 2013/10/09 yamada add Start ### */

.table03A .heading,
.table03B .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;

}

.table03A table,
.table03B table {
  border-collapse: collapse;
  width: 100%;

}

.table03A th, .table03A td,
.table03B th,
.table03B td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}

.table03A th,
.table03B th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 20%;
}

.table03A td,
.table03B td {
  background-color: #fff;
  padding: 6px 8px;
}


.table03A .testA {
  background-color: #e5f2ff;
  font-weight: normal;
}

.table03A .testB {
  width: 3%;
}
.table03A .testC {
  text-align: left;
  width: 17%;

}
.table03A .testD {
  width: 1%;
  color: red;
}

.table03A .class1 {
  text-align: left;
}
.table03A .headder01 {
  background-color: #e5f2ff;
  font-weight: normal;
}

.btnBuhin {
  zoom: 1;
  background-color: #fff;
  padding: 8px 16px;
}

.btnBuhin:after {
  content: "";
  display: block;
  clear: both;
}

.btnBuhin .left {
  float: left;
}

.btnBuhin .right {
  float: right;
}


.tableKoutei01A .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width: 715px;
}


.tableKoutei01A table {
  border-collapse: collapse;
  width: 749px;

}

.tableKoutei01A th, .tableKoutei01A td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}

.tableKoutei01A th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 20%;
}

.tableKoutei01A td {
  background-color: #fff;
  padding: 6px 8px;
}

.tableKoutei01A .class1 {
  text-align: left;
}

.tableKoutei01A .class2 {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: center;
}
.tableKoutei01A .class3 {
  text-align: center;
}
.shadowBoxKoutei01 {
  width: 534px;
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
}
.inputTextKoutei01 {
  background-color :#FFFFCC;
  width: 120px;
}
.inputTextKoutei02 {
  background-color :#FFFFCC;
  width: 15px;
}
.inputTextKoutei03 {
  background-color :#FFFFCC;
  width: 100px;
}

.textHyojunKousuu {
  width: 15px;
}

.textSagyouBasyo {
  width: 100px;
}

.tableKoutei02A .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width: 200px;
}


.tableKoutei02A table {
  border-collapse: collapse;
  width: 234px;
  float:left;
}

.tableKoutei02A th, .tableKoutei02A td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}

.tableKoutei02A th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 20%;
}

.tableKoutei02A td {
  background-color: #fff;
  padding: 6px 8px;
}
.tableKoutei02A .class1 {
  text-align: left;
}

.tableKoutei02A .class2 {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: center;
}
.tableKoutei02A .class3 {
  text-align: center;
}

.inputTextSeikabutu01 {
  background-color :#FFFFCC;
  width: 120px;
}
.inputTextSeikabutu02 {
  background-color :#FFFFCC;
  width: 120px;
}
.inputTextSeikabutu03 {
  background-color :#FFFFCC;
  width: 120px;
}
.inputTextSeikabutu04 {
  background-color :#FFFFCC;
  width: 600px;
}
.scroll_Div {/* tbodyが入っている。ここがスクロール対象*/
  width: 980px;
  overflow-x:auto;
    }
.inputTextBuhinEdit01 {
  background-color :#FFFFCC;
  width: 120px;
  text-align: right;
}

.searchBuhinSyouninResultBox {
  position: relative;
  opacity: 0;
  z-index: 1;
}

.BuhinSyouninDetailBox {
  position: relative;
  opacity: 1;
  z-index: 0;
}

.tableSyounin01A .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width: 232px;
}


.tableSyounin01A table {
  border-collapse: collapse;
  width: 264px;

}

.tableSyounin01A th, .tableSyounin01A td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}

.tableSyounin01A th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 20%;
}

.tableSyounin01A td {
  background-color: #fff;
  padding: 6px 8px;
}

.tableSyounin01A .class1 {
  text-align: left;
}

.tableSyounin01A .class2 {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: center;
}
.tableSyounin01A .class3 {
  text-align: center;
}

.tableSyounin01A .class4 {
  width: 1%;
  color: red;
}

.shadowBoxSyounin01 {
  width: 263px;
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
}
td.text01 {
  background-color: #e5f2ff;
  font-weight: normal;
}

/*設計変更指示書発行 */
.inputTextSekkeihenkou01 {
  background-color :#FFFFCC;
  width: 120px;
}

/*設計変更指示書発行 */
.inputTextSekkeihenkou02 {
  background-color :#FFFFCC;
  width: 15px;
}

/*設計変更指示書発行 */
.inputTextSekkeihenkou03 {
  width: 40px;
  text-align: right;
}

/*設計変更指示書発行 */
.inputTextSekkeihenkou04 {
  width: 60px;
  text-align: right;
}

/*設計変更指示書発行 */
.textSekkeihenkouBikou {
  width: 200px;
}
/*設計変更指示書発行 */
.inputTextSekkeihenkou04 {
  /* background-color :#FFFFCC; */
  /*width: 350px; */
}
/*設計変更指示書発行 */
.labelTextSekkeihenkou01 {
  width: 50px;
}
/*設計変更指示書発行 */
.labelTextSekkeihenkou02 {
  width: 15px;
}
/*設計変更指示書発行 */
.labelTextSekkeihenkou03 {
  width: 20px;
}

.table05A .heading{
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0 / 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;

}

.table05A table {
  border-collapse: collapse;
  width: 100%;

}

.table05A th, .table05A td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}

.table05A th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 20%;
}

.table05A td {
  background-color: #fff;

}

.table05A .class1 {
  text-align: left;
    padding: 3px 8px;
}

.table05A .class2 {
  text-align: center;
    padding: 3px 8px;
}

.table05A .headder01 {
  background-color: #e5f2ff;
  font-weight: normal;
    padding: 3px 8px;
}
.btnSekkeihenkou {
  zoom: 1;
  padding: 8px 16px;
}

.btnSekkeihenkou:after {
  content: "";
  display: block;
  clear: both;
}

.btnSekkeihenkou .left {
  float: left;
}

.btnSekkeihenkou .right {
  float: right;
}

.shadowBoxBuhinA {
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
  width: 980px;
}

.tableBuhinhyoB .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width: 948px;
}

.tableBuhinhyoB table {
  border-collapse: collapse;
  width: 1150px;

}

.tableBuhinhyoB th, .tableBuhinhyoB td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}

.tableBuhinhyoB th {
  background-color: #e5f2ff;
  font-weight: normal;
}

.tableBuhinhyoB td {
  background-color: #fff;
  padding: 6px 8px;
}


.tableBuhinhyoB .classA {
  background-color: #e5f2ff;
  font-weight: normal;
}

.tableBuhinhyoB .classB {
}
.tableBuhinhyoB .classC {
  text-align: left;

}
.tableBuhinhyoB .classD {
  color: red;
}

.tableBuhinhyoB .class1 {
  text-align: left;
}
.tableBuhinhyoA .headder01 {
  background-color: #e5f2ff;
  font-weight: normal;
}
.shadowBoxBuhinB {
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
  width: 980px;
}

.tableBuhinTenkai01A table {
  border-collapse: collapse;
  width: 650px;

}

.tableBuhinTenkai01A .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width: 634px;
}

.tableBuhinTenkai01A th, .tableBuhinTenkai01A td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 2px 8px;
}

.tableBuhinTenkai01A th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 20%;
}

.tableBuhinTenkai01A td {
  background-color: #fff;
  padding: 6px 8px;
}

.tableBuhinTenkai01A .class1 {
  text-align: left;
}

.tableBuhinTenkai01A .class2 {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: center;
}
.tableBuhinTenkai01A .class3 {
  text-align: center;
}

.tableBuhinTenkai01A .class4 {
  width: 1%;
  color: red;
}

.shadowBoxBuhinTenkai01 {
  width: 665px;
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
}
.b13 {  font-size: 12px;text-decoration: none;font-family:"ＭＳ ゴシック";}

.tableBuhinTenkai02A .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width: 246px;
  float:right;
}


.tableBuhinTenkai02A table {
  border-collapse: collapse;
  width: 280px;
  float:right;
}

.tableBuhinTenkai02A th, .tableBuhinTenkai02A td {
  border: 1px solid #c0c0c0;
    text-align: left;
  padding: 2px 8px;
}

.tableBuhinTenkai02A th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 40%;
}

.tableBuhinTenkai02A td {
  background-color: #fff;
  padding: 2px 8px;
}
.tableBuhinTenkai02A .class1 {
  text-align: left;
}

.tableBuhinTenkai02A .class2 {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: center;
}
.tableBuhinTenkai02A .class3 {
  text-align: center;
}

.inputTextHinmokuMst01 {
  background-color :#FFFFCC;

}

.inputTextHinmokuMst02 {
  background-color :#FFFFCC;
  width: 150px;
}

.inputTextHinmokuMst03 {
  background-color :#FFFFCC;
  width: 500px;
}

.searchHinmokuMstResultBox {
  position: relative;
  opacity: 0;
  z-index: 1;
}

.tableBuhinhyoFukusya table {
  border-collapse: collapse;
  width: 280px;
}

.tableBuhinhyoFukusya .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width: 246px;
}


.tableBuhinhyoFukusya th, .tableBuhinhyoFukusya td {
  border: 1px solid #c0c0c0;
    text-align: left;
  padding: 2px 8px;
}

.tableBuhinhyoFukusya th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 40%;
}

.tableBuhinhyoFukusya td {
  background-color: #fff;
  padding: 2px 8px;
}
.tableBuhinhyoFukusya .class1 {
  text-align: left;
}

.tableBuhinhyoFukusya .class2 {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: center;
}
.tableBuhinhyoFukusya .class3 {
  text-align: center;
}
.shadowBuhinhyoFukusya {
  width: 260px;
  box-shadow: 2px 3.464px 8px 0 rgba(0, 0, 0, 0.5);
}

.tableBuhinhyoTreeA .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width:670px;
}

.tableBuhinhyoTreeA table {
  border-collapse: collapse;
  width:1000px;
}

.tableBuhinhyoTreeA th, .tableBuhinhyoTreeA td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 1px 1px;
}

.tableBuhinhyoTreeA th {
  background-color: #e5f2ff;
  font-weight: normal;
}

.tableBuhinhyoTreeA td {
  background-color: #fff;
  padding: 1px 1px;
}


.tableBuhinhyoTreeA .classA {
  background-color: #e5f2ff;
  font-weight: normal;
  white-space: nowrap;
}

.tableBuhinhyoTreeA .classB {
  text-align: center;
}
.tableBuhinhyoTreeA .classC {
  text-align: left;

}
.tableBuhinhyoTreeA .classD {
  color: red;
}

.tableBuhinhyoTreeA .class1 {
  text-align: left;
}

.tableBuhinhyoTreeB .heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #e9e9e9);
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 2px 16px;
  font-weight: normal;
  font-size: 116.667%;
  width: 219px;
}


.tableBuhinhyoTreeB table {
  border-collapse: collapse;
  width: 234px;
  float:left;
}

.tableBuhinhyoTreeB th, .tableBuhinhyoTreeB td {
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 1px 1px;
}

.tableBuhinhyoTreeB th {
  background-color: #e5f2ff;
  font-weight: normal;
  width: 20%;
}

.tableBuhinhyoTreeB td {
  background-color: #fff;
  padding: 1px 1px;
}
.tableBuhinhyoTreeB .class1 {
  text-align: left;
}

.tableBuhinhyoTreeB .class2 {
  background-color: #e5f2ff;
  font-weight: normal;
  text-align: center;
}
.tableBuhinhyoTreeB .class3 {
  text-align: center;
}

.textSiyouSuu {
  width: 10px;
}
.textLTNum {
  width: 10px;
}

.textLTNumS {
  width: 40px;
  text-align: right;
}

.textBikou {
  width: 170px;
}

.textBikouS {
  width: 90px;
}

.textJyuchuNo {
  width: 120px;
}

.textProductNo {
  width: 120px;
}

.textSerialNo {
  width: 100px;
}
.tableNknNyuuryokuInfo1 th td{
  height:    20px;
  width:     100px;
  white-space: nowrap;
}
.tableNknNyuuryokuInfo2 th td{
  height:    20px;
    width:      200px;
    white-space: nowrap;
}
/* ### 2013/10/09 End yamada add ### */

/* ### ページング処理 BEGIN ### */
.pagination {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-top: 0;
  padding: 8px 16px;
}
.pagination ul {
  list-style: none;
  zoom: 1;
}
.pagination ul:after {
  content: "";
  display: block;
  clear: both;
}
.pagination ul li {
  float: left;
  border-left: 1px solid #c0c0c0;
  padding: 0 8px;
  line-height: 1.2;
}
.pagination ul li:first-child {
  border-left: none;
  padding-left: 0;
}
/* ### ページング処理 END ### */

